.questions-container {
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.questions-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

.questions-container ul {
    list-style-type: none;
    padding: 0;
}

.questions-container li {
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 1.2rem;
    border-left: 5px solid #4caf50;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
}

.questions-container li:hover {
    background-color: #f1f1f1;
}

.questions-container strong {
    font-size: 1.1rem;
    color: #222;
}

.questions-container em {
    display: block;
    margin-top: 0.5rem;
    color: #777;
    font-size: 0.95rem;
}


.update-btn{
    background-color: #4caf50;
    color: #fff;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.delete-btn{
    background-color: #f44336de;
    color: #fff;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: 0.5rem;
}
