<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login</title>
	<link rel="icon" type="image/png" href="images/presidencylogo.png">

	<!-- Font Icon -->
	<link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

	<!-- Main css -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/navbar_css.css">
</head>

<body>
	<header>
		<img alt="" class="logo" src="images/presidencylogo.png">
		<div class="nav-container">
			<div class="nav-left">
				<a href="home.jsp" class="Presidency University">Presidency
					University</a> <a href="home.jsp" class="Home">Home</a>
			</div>
			<div class="nav-right">
				<a href="facultylogin.html" class="btn login"><i class="fa fa-sign-in-alt"></i> Login</a>
			</div>
		</div>
	</header>

	<input type="hidden" id="status" value="<%= request.getAttribute('status') %>">

	<div class="main">
		<!-- Sign in Form -->
		<section class="sign-in">
			<div class="container">
				<div class="signin-content">
					<div class="signin-image">
						<figure>
							<img src="images/presidencylogo.png" alt="sign up image">
						</figure>
						<a href="registration.jsp" class="signup-image-link">Create an account</a>
					</div>

					<div class="signin-form">
						<h2 class="form-title">Login</h2>
						<form method="post" action="/login" class="register-form" id="login-form">
							<div class="form-group">
								<label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
								<input type="text" name="email" id="email" placeholder="Your Email" required />
							</div>
							<div class="form-group">
								<label for="password"><i class="zmdi zmdi-lock"></i></label>
								<input type="password" name="password" id="password" placeholder="Password" required />
							</div>
							<div class="form-group">
								<label for="role"><i class="zmdi zmdi-accounts"></i></label>
								<select name="role" id="role" required>
									<option value="">Select Role</option>
									<option value="admin">Admin</option>
									<option value="faculty">Faculty</option>
								</select>
							</div>
							<div class="form-group">
								<input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
								<label for="remember-me" class="label-agree-term">
									<span><span></span></span>Remember me
								</label>
							</div>
							<div class="form-group form-button">
								<input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
							</div>
						</form>

						<div class="social-login">
							<span class="social-label">Or login with</span>
							<ul class="socials">
								<li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
								<li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
								<li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<!-- JS -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="js/main.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script type="text/javascript">
		var status = document.getElementById("status").value;
		if (status === "failed") {
			swal("Sorry", "Wrong Username or Password", "error");
		} 
	</script>
</body>

</html>